#TitleBar{
    width: 100vw;
    height: 13vh;
    background-color: rgb(12,27,75);
    display: flex;
    flex-direction: row;
}
#menu{
    width: 2vw;
    height: 3.5vh;
    margin-top: 2.2%;
    margin-left: 3%;
}
#Bar1,#Bar2,#Bar3{
    width: 1.7vw;
    height: 0.5vh;
    background-color: rgb(153, 145, 145);
}
#Bar2{
    margin-top: 15%;
}
#Bar3{
    margin-top: 15%;
}
#tv {
  background-color: rgb(12,27,75);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

#TV {
  position: relative;
  display: inline-block;
  margin-top: 1.1%;
}

#TV-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#TV-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#TV-content a:hover {background-color: #ddd;}

#TV:hover #TV-content {display: block;}
#movies {
  background-color: rgb(12,27,75);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

#Movies {
  position: relative;
  display: inline-block;
  margin-top: 1.1%;
}

#M-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#M-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#M-content a:hover {background-color: #ddd;}

#Movies:hover #M-content {display: block;}
#sports {
  background-color: rgb(12,27,75);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

#Sports {
  position: relative;
  display: inline-block;
  margin-top: 1.1%;
}

#S-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#S-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#S-content a:hover {background-color: #ddd;}

#Sports:hover #S-content {display: block;}
#disney {
  background-color: rgb(12,27,75);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 16%;
}
#search-bar{
  margin-top: 2.4%;
  margin-left: 32%;
}


#subscribe{
  margin-top: 43%;
  margin-left: 20%;
  background-color: #2596be;
  border-radius: 10%;
  border: 1px solid rgb(12,27,75);
  color: white;
}
#login {
  background-color: rgb(12,27,75);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-left: 20%;
  margin-top: 2.5vh;
}


#trending{
    width: 98.5vw;
    height: 40vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    background-color: white;
}
#pic1,#pic2,#pic3,#pic4,#pic5,#pic6,#pic7,#pic8{
    width: 12vw;
    height: 40vh;
}

#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8{
    width: 12vw;
    height: 40vh; 
}

img:hover{
    transform: scale(1.2);
}
#arrow{
    left: 1270px;
    position: relative;
    top: -160px;
    color: black;
    font-weight: bold;
}
/* For styling */


