/* For styling */
#slidercontainer{
    width: 90vw;
    height: 65.8vh;
    margin: auto;
    border-radius: 5px;
    
}

.slider1{
    margin-left: 440px; 

}
#sliderimg{
    border-radius: 3px;
    
}

.textbody{
    width: 34.2vw;
    height: 65.9vh;
    margin-top: -405px;
    border-radius: 3px;
    background-color: rgb(1, 7, 27);
}

#shadowtextContainer{
    width: 26vw;
    height: 40vh;
    margin-top: -350px;
    margin-left: 150px;
    color: white;
}