#popular_shows{
  display: grid;
  width: 98.5vw;
  height: 40vh;
  border: 1px solid black;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: white;
}
.grid-item1,.grid-item2,.grid-item3,.grid-item4,.grid-item5,.grid-item6,.grid-item7,.grid-item8{
    height: 40vh;
    width: 12vw;     
}
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8{
    height: 40vh;
    width: 12vw; 
}
.arrow{
    position: relative;
    font-weight: bold;
    color: black;
    top: -200px;
    left: 800%;
}
img:hover{
    transform: scale(1.1);
}

#Maindiv{
    height: 40vh;
    width: 98.5vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}
#div1,#div2,#div3,#div4,#div5,#div6,#div7,#div8{
    height: 40vh;
    width: 12vw;
    border-radius: 5px;
}
#image1,#image2,#image3,#image4,#image5,#image6,#image7,#image8{
    height: 40vh;
    width: 12vw;
    border-radius: 5px;
    cursor: zoom-out;
    cursor: grab;
    
}
#rightArrow{
    width: 3vw;
    height: 5vh;
    position: relative;
    left: 1220px ;
    bottom: 140px;
    border-radius: 40%;    
}
#arrow{
    position: relative;
   bottom: 43px;
   left: 5px;
   font-size: 3em;
   color: white;
}
img:hover{
    transform: scale(1.1); 
}
   
